.wizard-form {
  position: relative;

  .form-content {
    min-height: 82vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    .ant-form-item {
      margin-bottom: 2rem;
      .ant-form-item-label label {
        font-size: 17px;
        line-height: 1.218;
        color: #05152D;
        font-family: 'Proxima-Nova-Regular';
        padding-bottom: 0.5rem;
      }
      input {
        border-radius: 0.5rem !important;
        color: #05152D;
        background: #E7ECF4;
        border-color: #E7ECF4;
        height: 44px;
        font-size: 16px;
      }
      &.inactive-item {
        opacity: 0.5
      }
    }
  }
}
.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
  background: #124698 !important;
  color: #ffffff !important;
  opacity: 0.5;
}
.ant-form-item-explain.ant-form-item-explain-error {
  margin-top: 0.3125rem;
}
